name: CI

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Lint and test on ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Linux py38
            pyversion: '3.8'
          - name: Linux py39
            pyversion: '3.9'
          - name: Linux py310
            pyversion: '3.10'
          - name: Linux py311
            pyversion: '3.11'
          - name: Linux py312
            pyversion: '3.12'
          - name: Linux py313
            pyversion: '3.13'
          - name: Linux py314
            pyversion: '3.14'
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Set up Python ${{ matrix.pyversion }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.pyversion }}
      - name: Install dependencies
        run: uv sync
      - name: Lint
        run: uv run flake8
      - name: Test
        run: uv run pytest -v --cov=patchdiff --cov-report=term-missing

  build:
    name: Build and test wheel
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Install uv
      uses: astral-sh/setup-uv@v6
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Install dependencies
      run: uv sync
    - name: Build wheel
      run: uv build
    - name: Twine check
      run: uv run twine check dist/*
    - name: Upload wheel artifact
      uses: actions/upload-artifact@v4
      with:
        path: dist
        name: dist

  publish:
    name: Publish to Github and Pypi
    runs-on: ubuntu-latest
    needs: [test, build]
    if: success() && startsWith(github.ref, 'refs/tags/v')
    steps:
    - uses: actions/checkout@v5
    - name: Download wheel artifact
      uses: actions/download-artifact@v4
      with:
        name: dist
        path: dist
    - name: Get version from git ref
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
    - name: Create GH release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.get_version.outputs.VERSION }}
        release_name: Release ${{ steps.get_version.outputs.VERSION }}
        draft: false
        prerelease: false
    - name: Upload release assets
      # Move back to official action after fix https://github.com/actions/upload-release-asset/issues/4
      uses: AButler/upload-release-assets@v2.0
      with:
        release-tag: ${{ steps.get_version.outputs.VERSION }}
        files: 'dist/*.tar.gz;dist/*.whl'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.PYPI_PASSWORD }}
